<%- include('partials/header') %>




<div class="jumbotron">
  <h1 class="display-4">Customize your Players Settings</h1>
  <hr class="my-4">
  <p>Ulitity to Adjust your Players Settings</p>

</div>
<div class="container mt-5">

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

        <a href="/recently"><button type="button" name="button">Check Recently Played Playbacks</button></a>
        <a href="/playback"><button type="button" name="button">Check Current Playback</button></a>
        <button type="button" name="button">Pause current Playback</button>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">

          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>

      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer'); -%>
