<%- include('partials/header') %>




<div class="jumbotron">
  <h1 class="display-4">Musify Web App</h1>
  <hr class="my-4">
  <p> Web App which lets you to access Spotify Data</p>

</div>
<div class="container mt-5">

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/" method="POST">


      <a href="/dashboard"> <button type="submit" class="btn btn-dark">Let's Get Started</button></a>

          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">

          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>

      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer'); -%>
